---
import ModalBooths from "../../../components/ModalBooths.astro";
import ModalVideo from "../../../components/ModalVideo.astro";
import BoothLayout from "../../../layouts/BoothLayout.astro";
import { Image } from "astro:assets";
import rec1 from "../../../images/recursos/dana-rec1_.webp";
import rec2 from "../../../images/recursos/dana-rec2_.webp";
import rec3 from "../../../images/recursos/dana-rec3_.webp";
import rec4 from "../../../images/recursos/dana-rec4_.webp";
import rec5 from "../../../images/recursos/dana-rec5_.webp";
import rec6 from "../../../images/recursos/dana-rec6_.webp";
import ModalForm from "../../../components/ModalForm.astro";

const booth = {
   image: "dana-farber.webp",
   btn1: "brochure.webp",
   btn2: "jobs.webp",
   btn3: "resources.webp",
   btn4: "offer.webp",
   btn5: "contact.webp",
};
const wpuploads = import.meta.env.WP_UPLOADS;
---

<BoothLayout
   title="Dana Farber Cancer Institute"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section banner-booth">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />
                  <!-- Video -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger"
                     data-target="modal-video"
                  >
                     <rect
                        x="130"
                        y="54"
                        fill="#fff"
                        opacity="0"
                        width="413"
                        height="266"></rect>
                  </a>

                  <!-- Brochure -->
                  <a
                     xlink:href={wpuploads +
                        "/2024/02/HPV-Roundtable-English-vax-handout.pdf"}
                  >
                     <image
                        x="90"
                        y="555"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- Jobs -->
                  <a
                     xlink:href="https://careers.dana-farber.org/jobs/"
                     target="_blank"
                  >
                     <image
                        x="310"
                        y="555"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Recursos -->
                  <a xlink:href="#recursos">
                     <image
                        x="90"
                        y="635"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>

                  <!-- Oferta -->
                  <a
                     xlink:href="#oferta"
                     class="modal-trigger"
                     data-target="modal-booth"
                     data-content="oferta"
                  >
                     <image
                        x="310"
                        y="635"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger"
                     data-target="modal-form"
                  >
                     <image
                        x="195"
                        y="710"
                        xlink:href={"/img/booths-pics/" + booth.btn5}
                     />
                  </a>
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/" class="button is-light is-rounded is-outlined"
            >Go back to Fair</a
         >
      </div>
   </section>

   <section class="section" id="recursos">
      <div class="container is-max-widescreen">
         <div class="columns is-centered">
            <div class="column is-9">
               <a
                  href={wpuploads +
                     "2024/06/Sun-Safety-Beach-Schedule-Postcard_5x7_-Spanish.pdf"}
                  target="_blank"
               >
                  <Image src={rec6} alt="" />
               </a>
            </div>
         </div>
         
         <div class="columns">
            <div class="column">
               <a
                  href={wpuploads +
                     "/2023/12/Cancer-Risk-Assessment-Dana-Farbers-Groundbreaking-Tool.webp"}
                  target="_blank"
               >
                  <Image src={rec1} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads + "/2022/09/Newspaper-Full-Page-1-1.pdf"}
                  target="_blank"
               >
                  <Image src={rec2} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads + "/2022/09/Newspaper-Full-Page-7.pdf"}
                  target="_blank"
               >
                  <Image src={rec3} alt="" />
               </a>
            </div>
         </div>

         <div class="columns my-5 is-centered">
            <div class="column is-4">
               <a
                  href={wpuploads + "/2022/09/Newspaper-Full-Page-2-1.pdf"}
                  target="_blank"
               >
                  <Image src={rec4} alt="" />
               </a>
            </div>
            <div class="column is-4">
               <a
                  href={wpuploads + "/2023/06/Newspaper-El-Mundo-Ad-Eng.pdf"}
                  target="_blank"
               >
                  <Image src={rec5} alt="" />
               </a>
            </div>
         </div>
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="https://youtu.be/Vqm6S-s0Zc0" />

   <ModalForm
      to="dfci_communitybenefits@dfci.harvard.edu"
      subject="Booth Dana Farber - New Contact Us Request"
   />

   <div id="oferta" class="is-hidden">
      <p style="text-align: center;">
         <a
            href="https://www.dana-farber.org/about-us/community-outreach/mammography-van/van-calendar/"
            target="_blank"
            rel="noopener"><strong>Mammography Van Calendar</strong></a
         >
      </p>
      <p style="text-align: center;">
         <strong
            ><a
               href="https://assess-your-risk.dana-farber.org/"
               target="_blank"
               rel="noopener">Assess Your Risks</a
            ></strong
         >
      </p>

      <p>
         <a
            href="https://www.dana-farber.org/community-health/sun-safety-skin-cancer-prevention"
            target="_blank"
            rel="noopener"
            data-auth="NotApplicable"
            data-linkindex="0"
            data-ogsc="">Sun Safety and Skin Cancer Prevention</a
         >
      </p>
   </div>
</BoothLayout>
