---
import PageLayout from "../../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import bannerToolkit from "../../images/banner-toolkit-ENG.webp";
import toolkit1 from "../../images/toolkit/toolkit-2.webp";
import toolkit2 from "../../images/toolkit/toolkit-6.webp";
import toolkit3 from "../../images/toolkit/toolkit-9.webp";
import toolkit4 from "../../images/toolkit/toolkit-14.webp";
import toolkit5 from "../../images/toolkit/toolkit-17.webp";
---

<PageLayout
  title="MyHealthFair - Social Media Toolkit"
  description="Social Media Toolkit MyHealthFair Massachusetts"
>
  <section class="section p-1">
    <div class="container">
      <figure class="image">
        <Image src={bannerToolkit} alt="Top Toolkit" />
      </figure>
    </div>
  </section>

  <section class="section banner">
    <div class="is-overlay"></div>
    <div class="container has-text-white">
      <div class="columns is-centered">
        <div class="column is-10 has-text-centered">
          <h2 class="title is-3 has-text-white is-spaced">
            PROMOTIONAL TOOL KIT TO SHARE RESOURCES AND INFORMATION WITH THE
            COMMUNITY
          </h2>

          <h3 class="subtitle is-4 has-text-primary-60 hashtags">
            #myhealthfair #fvirtualfair #healthresources #Massachusetts
            #latincommunity
          </h3>
        </div>
      </div>

      <div class="columns">
         <div class="column is-8">
            <h3 class="subtitle is-3 has-text-white">
               Images and Post for social networks
             </h3>
         </div>

         <div class="column is-4">
            <a href="/toolkit.zip" class="button is-primary is-large has-text-white"
           >DOWNLOAD TOOLKIT</a
         >
            </div>
      </div>


      <div class="columns my-5">
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit1} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  My Health Fair is your go-to digital platform for health
                  education and resources in Spanish and English. From expert-
                  led discussions to trusted organizations, we connect the
                  community with vital information about cancer, diabetes,
                  mental health, and Alzheimer’s.
                </p>

                <p>
                  Go to: <a
                    class="has-text-primary-60"
                    href="https://myhealthfair.com">myhealthfair.com</a
                  >
                </p>
                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit2} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  Be part of a growing community dedicated to healthcare. My
                  Health Fair connects you with trusted, bilingual healthcare
                  experts, resources, and reliable organizations.
                </p>
                <p>
                  Go to: <a
                    class="has-text-primary-60"
                    href="https://myhealthfair.com">myhealthfair.com</a
                  >
                </p>
                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit3} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  Why choose My Health Fair?<br />
                  ✔️ Access free healthcare resources<br />
                  ✔️ Connect with trusted healthcare professionals<br />
                  ✔️ Find bilingual information tailored to the community
                </p>
                <p>
                  Explore everything My Health Fair offers:
                  <a class="has-text-primary-60" href="https://myhealthfair.com"
                    >MyHealthFair.com</a
                  >
                </p>
                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns my-6 is-centered">
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit4} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Navigating My Health Fair is easy!</p>
                <p>
                  Visit
                  <a class="has-text-primary-60" href="https://myhealthfair.com"
                    >MyHealthFair.com</a
                  >
                </p>

                <p>
                  Browse healthcare topics that interest you Connect with
                  bilingual expert organizations
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit5} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  Are you a bilingual healthcare professional or an
                  organization? Partner with My Health Fair to share valuable
                  resources with the community.
                </p>
                <p>
                  Visit <a
                    class="has-text-primary-60"
                    href="https://myhealthfair.com">myhealthfair.com</a
                  > for more info.
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <h3 class="subtitle is-4 has-text-primary-60 has-text-centered hashtags">
        #myhealthfair #fvirtualfair #healthresources #Massachusetts
        #latincommunity
      </h3> -->
    </div>
  </section>
</PageLayout>

<style>
  .banner {
    background: url("../../images/banner-about.webp") center no-repeat;
    background-size: cover;
    position: relative;
  }

  .is-overlay {
    background-color: #0577b5d1;
  }

  .hashtags {
    text-shadow: 1px 1px 2px #666;
  }
</style>
