---
export const prerender = false;
import PageLayout from "../../../layouts/PageLayout.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import FormattedTime from "../../../components/FormattedTime.astro";

const idioma = Astro.currentLocale;
const { page } = Astro.params;
let pagina = page ? Number(page) : 1;

// Función para obtener el lunes de la semana actual
function getMonday(date) {
   const day = date.getDay();
   const diff = date.getDate() - day + (day == 0 ? -6 : 1);
   return new Date(date.setDate(diff));
}

// Función para obtener el domingo de la semana actual
function getSunday(monday) {
   return new Date(monday.getTime() + 6 * 24 * 60 * 60 * 1000);
}

// Calcular la fecha de inicio y fin de la semana actual
const today = new Date();
const currentMonday = getMonday(new Date(today));
const currentSunday = getSunday(currentMonday);

// Ajustar la semana según el parámetro de la página
const startDate = new Date(currentMonday);
startDate.setDate(startDate.getDate() + (pagina - 1) * 7);
const endDate = new Date(currentSunday);
endDate.setDate(endDate.getDate() + (pagina - 1) * 7);

const fecha_ini = startDate.toISOString().split("T")[0];
const fecha_fin = endDate.toISOString().split("T")[0];

const res = await fetch(
   `https://myhealthfair.com/wp-json/tribe/events/v1/events?start_date=${fecha_ini}&end_date=${fecha_fin}&lang=${idioma}`,
);

const eventos = await res.json();
---

<PageLayout title="Feria de Salud - Eventos" description="Blog">
   <section class="section">
      <div class="container is-max-widescreen">
         <div class="buttons is-centered">
            <a
               class="button is-info is-outlined"
               href={`/eventos/${pagina - 1}`}>Prev week</a
            >
            <a
               class="button is-info is-outlined"
               href={`/eventos/${pagina + 1}`}>Next week</a
            >
         </div>

         <div class="has-text-centered my-4">
            <p class="is-size-5">
               Showing events of the week: <strong
                  >{startDate.toLocaleDateString()}</strong
               > to <strong>{endDate.toLocaleDateString()}</strong>
            </p>
         </div>

         <div class="columns is-multiline is-variable is-8">
            {
               eventos.events.map((evento: any) => (
                  <div class="column is-4">
                     <div class="card">
                        <div class="card-content">
                           <a href={`/event/${evento.slug}`}>
                              <img
                                 width={720}
                                 height={360}
                                 src={evento.image.url}
                                 alt=""
                              />
                              <h4 class="title is-5 my-4">
                                 <Fragment set:html={evento.title}  />
                              </h4>
                           </a>

                           <small>
                              <FormattedDate
                                 date={new Date(evento.start_date)}
                              />{" "}
                              @
                              <FormattedTime
                                 date_ini={new Date(evento.start_date)}
                                 date_end={new Date(evento.end_date)}
                              />
                           </small>

                           <small>
                              <Fragment set:html={evento.excerpt} />
                           </small>
                        </div>
                     </div>
                  </div>
               ))
            }
         </div>
      </div>
   </section>
</PageLayout>
