---
export const prerender = false;
import PageLayout from "../../../layouts/PageLayout.astro";

let pagina = 1;
const { slug, page } = Astro.params;

if (page) pagina = Number(page);

const res_cat = await fetch(
   `https://myhealthfair.com/wp-json/wp/v2/categories?slug=${slug}&_embed`,
);

const cat = await res_cat.json();

const res = await fetch(
   `https://myhealthfair.com/wp-json/wp/v2/posts?categories=${cat[0].id}&page=${pagina}&_embed`,
);

const totalPaginas = res.headers.get("x-wp-totalpages");
const posts = await res.json();

---

<PageLayout title="Feria de Salud - Blog" description="Blog">
   <section class="section">
      <div class="container is-max-desktop">
         <div class="columns is-multiline is-variable is-8">
            {
               posts.map((post: any) => (
                  <div class="column is-6">
                     <div class="card">
                        <div class="card-content">
                           <a href={`/${post.slug}`}>
                              <img
                                 width={720}
                                 height={360}
                                 src={
                                    post._embedded["wp:featuredmedia"]["0"]
                                       .source_url
                                 }
                                 alt=""
                              />
                              <h4 class="title is-5 my-4">
                                 {post.title.rendered}
                              </h4>
                           </a>

                           <small>
                              <Fragment set:html={post.excerpt.rendered} />
                           </small>
                        </div>
                     </div>
                  </div>
               ))
            }
         </div>

         <div class="buttons is-centered">
            <a
               class={`button is-link is-outlined ${pagina <= 1 ? "is-static" : ""}`}
               href={pagina > 1 ? `/category/${slug}/${pagina - 1}` : "#"}
               aria-disabled={pagina <= 1 ? "true" : "false"}
               ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.3em"
                  height="1.3em"
                  viewBox="0 0 24 24"
                  ><path
                     fill="currentColor"
                     d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6z"
                  ></path></svg
               ></a
            >
            <a
               class={`button is-link is-outlined ${pagina == totalPaginas ? "is-static" : ""}`}
               href={pagina == totalPaginas
                  ? "#"
                  : `/category/${slug}/${pagina + 1}`}
               ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.3em"
                  height="1.3em"
                  viewBox="0 0 24 24"
                  ><path
                     fill="currentColor"
                     d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6z"
                  ></path></svg
               ></a
            >
         </div>
      </div>
   </section>
</PageLayout>
