---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import banner_calendario_salud from "../images/recursos/banner-calendario-salud.webp";
import banner_reporte_2023 from "../images/recursos/banner-reporte-2023.webp";
import recurso_salud_mental from "../images/recursos/recurso-salud-mental.webp";
import recurso_dana_farber from "../images/recursos/recurso-dana-farber.webp";
import recurso_dana_farber2 from "../images/recursos/recurso-dana-farber2.webp";
import recurso_dana_farber3 from "../images/recursos/recurso-dana-farber3.webp";
import recurso_pbread from "../images/recursos/recurso-pbread.webp";
import recurso_emb from "../images/recursos/recurso-emb.webp";
import recurso_emb2 from "../images/recursos/recurso-emb-2.webp";
---

<PageLayout title="Recursos" description="Lorem ipsum dolor sit amet">
   <section class="section">
      <div class="container has-text-white">
         <div class="columns">
            <div class="column is-8">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2024/01/Calendario-de-Salud-2024-My-Health-Fair.pdf"
                  target="_blank"
               >
                  <Image src={banner_calendario_salud} alt="" />
               </a>
            </div>

            <div class="column is-4">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2024/03/Annual-Report-2023-Esp.pdf"
                  target="_blank"
               >
                  <Image src={banner_reporte_2023} alt="" class="px-5" />
               </a>
            </div>
         </div>

         <div class="columns">
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2024/05/Salud-Mental.pdf"
                  target="_blank"
               >
                  <Image src={recurso_salud_mental} alt="" />
               </a>
            </div>
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2022/09/Newspaper-Full-Page-2.pdf"
                  target="_blank"
               >
                  <Image src={recurso_dana_farber} alt="" />
               </a>
            </div>
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2022/09/Newspaper-Full-Page-1.pdf"
                  target="_blank"
               >
                  <Image src={recurso_dana_farber2} alt="" />
               </a>
            </div>
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2022/09/Newspaper-Full-Page-3.pdf"
                  target="_blank"
               >
                  <Image src={recurso_dana_farber3} alt="" />
               </a>
            </div>
         </div>

         <div class="columns is-centered">
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2022/09/Newspaper-Full-Page-4.pdf"
                  target="_blank"
               >
                  <Image src={recurso_pbread} alt="" />
               </a>
            </div>
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2022/09/Newspaper-Full-Page-6.pdf"
                  target="_blank"
               >
                  <Image src={recurso_emb} alt="" />
               </a>
            </div>
            <div class="column is-3">
               <a
                  href="https://myhealthfair.com/wp-content/uploads/2022/09/Newspaper-Full-Page.pdf"
                  target="_blank"
               >
                  <Image src={recurso_emb2} alt="" />
               </a>
            </div>
         </div>
      </div>
   </section>
</PageLayout>

<style>
   img {
      box-shadow:
         0 3px 6px -4px rgba(0, 0, 0, 0.16),
         0 3px 6px rgba(0, 0, 0, 0.23);
      transition:
         transform 0.3s,
         box-shadow 0.3s,
         background-color 0.3s,
         color 0.3s,
         opacity 0.3s;
   }

   img:hover {
      box-shadow:
         0 10px 20px rgba(0, 0, 0, 0.19),
         0 6px 6px rgba(0, 0, 0, 0.22);
   }
</style>
