---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import banner_calendario_salud from "../images/recursos/banner-calendario-salud.webp";
import banner_reporte_2024 from "../images/recursos/reporte-anual-2024.webp";
import recurso_salud_mental from "../images/recursos/recurso-salud-mental.webp";
import recurso_dana_farber2 from "../images/recursos/recurso-dana-farber2.webp";
import recurso_pbread from "../images/recursos/recurso-pbread.webp";
import recurso_emb from "../images/recursos/recurso-emb.webp";
import recurso_emb2 from "../images/recursos/recurso-emb-2.webp";
import recurso_guia_inmigrante from "../images/recursos/Guia-recursos-para-inmigrantes-Boston.webp";

const wpuploads = import.meta.env.WP_UPLOADS;
---

<PageLayout title="Recursos" description="Recursos de utilidad para la comunidad - Feria de Salud Massachusetts - MyHealthFair">
  <section class="section">
    <div class="container has-text-white">
      <div class="columns is-centered">
        <div class="column is-4">
          <a href="/recursos/Reporte-anual-2024.pdf" target="_blank">
            <Image src={banner_reporte_2024} alt="" class="px-5" />
          </a>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-3">
          <a href="/recursos/Guia-de-recursos-para-inmigrantes-en-Boston.pdf" target="_blank">
            <Image src={recurso_guia_inmigrante} alt="" />
          </a>
        </div>

        <div class="column is-3">
          <a href={wpuploads + "/2024/05/Salud-Mental.pdf"} target="_blank">
            <Image src={recurso_salud_mental} alt="" />
          </a>
        </div>

        <div class="column is-3">
          <a
            href={wpuploads + "/2022/09/Newspaper-Full-Page-1.pdf"}
            target="_blank"
          >
            <Image src={recurso_dana_farber2} alt="" />
          </a>
          
          
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-3">
          <a
            href={wpuploads + "/2022/09/Newspaper-Full-Page-4.pdf"}
            target="_blank"
          >
            <Image src={recurso_pbread} alt="" />
          </a>
        </div>
        <div class="column is-3">
          <a
            href={wpuploads + "/2022/09/Newspaper-Full-Page-6.pdf"}
            target="_blank"
          >
            <Image src={recurso_emb} alt="" />
          </a>
        </div>
        <div class="column is-3">
          <a
            href={wpuploads + "/2022/09/Newspaper-Full-Page.pdf"}
            target="_blank"
          >
            <Image src={recurso_emb2} alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>
</PageLayout>

<style>
  img {
    box-shadow:
      0 3px 6px -4px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    transition:
      transform 0.3s,
      box-shadow 0.3s,
      background-color 0.3s,
      color 0.3s,
      opacity 0.3s;
  }

  img:hover {
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.22);
  }
</style>
