---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import bannerToolkit from "../images/banner-toolkit-ESP.webp";
import toolkit1 from "../images/toolkit/toolkit-1.webp";
import toolkit2 from "../images/toolkit/toolkit-5.webp";
import toolkit3 from "../images/toolkit/toolkit-8.webp";
import toolkit4 from "../images/toolkit/toolkit-13.webp";
import toolkit5 from "../images/toolkit/toolkit-16.webp";
---

<PageLayout
  title="MyHealthFair - Social Media Toolkit"
  description="ToolKit Promocional para compartir recursos e información con la comunidad"
>
  <section class="section p-1">
    <div class="container">
      <figure class="image">
        <Image src={bannerToolkit} alt="Top Toolkit" />
      </figure>
    </div>
  </section>

  <section class="section banner">
    <div class="is-overlay"></div>
    <div class="container has-text-white">
      <div class="columns is-centered">
        <div class="column is-10 has-text-centered">
          <h2 class="title is-3 has-text-white is-spaced">
            TOOL KIT PROMOCIONAL PARA COMPARTIR RECURSOS E INFORMACIÓN CON LA
            COMUNIDAD
          </h2>

          <h3 class="subtitle is-4 has-text-primary-60 hashtags">
            #myhealthfair #feriavirtual #recursosdesalud #Massachusetts
            #comunidadlatina
          </h3>
        </div>
      </div>

      <div class="columns">
         <div class="column is-8">
            <h3 class="subtitle is-3 has-text-white">
               Imágenes y Post para redes sociales
             </h3>
         </div>

         <div class="column is-4">
            <a href="/toolkit.zip" class="button is-primary is-large has-text-white"
           >DESCARGAR TOOLKIT</a
         >
            </div>
      </div>

      <div class="columns my-5">
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit1} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  My Health Fair es tu plataforma digital para acceder a
                  educación y recursos de salud en inglés y español. Con
                  información de expertos y organizaciones confiables, conecta a
                  la comunidad con información sobre cáncer, diabetes, salud
                  mental y alzheimer.
                </p>

                <p>
                  Visita: <a
                    class="has-text-primary-60"
                    href="https://myhealthfair.com">myhealthfair.com</a
                  >
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit2} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  Forma parte de una comunidad comprometida con la salud. My
                  Health Fair te conecta con expertos bilingües en salud,
                  recursos y organizaciones confiables.
                </p>
                <p>
                  Visita: <a
                    class="has-text-primary-60"
                    href="https://myhealthfair.com">myhealthfair.com</a
                  >
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit3} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  ¿Por qué elegir My Health Fair? <br />
                  ✔️ Accede a recursos de salud gratuitos <br />
                  ✔️ Conéctate con profesionales confiables <br />
                  ✔️ Encuentra información bilingüe pensada para la comunidad
                </p>
                <p>
                  Conoce todo lo que My Health Fair tiene: <a
                    class="has-text-primary-60"
                    href="https://myhealthfair.com">myhealthfair.com</a
                  >
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns my-6 is-centered">
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit4} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>¡Usar My Health Fair es fácil!</p>

                <p>
                  Visita
                  <a class="has-text-primary-60" href="https://myhealthfair.com"
                    >myhealthfair.com</a
                  > Explora temas de salud que te interesen Conéctate con organizaciones
                  bilingües
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <Image src={toolkit5} alt="" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  ¿Eres un profesional bilingüe o una organización de salud?
                  Colabora con My Health Fair para compartir recursos valiosos
                  con la comunidad.
                </p>

                <p>
                  Visita
                  <a class="has-text-primary-60" href="https://myhealthfair.com"
                    >myhealthfair.com</a
                  > para más información.
                </p>

                <p>#HealthcareResources #MyHealthFair #HealthcareMass</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <h3 class="subtitle is-4 has-text-primary-60 has-text-centered hashtags">
        #myhealthfair #feriavirtual #recursosdesalud #Massachusetts
        #comunidadlatina
      </h3> -->
    </div>
  </section>
</PageLayout>

<style>
  .banner {
    background: url("../images/banner-about.webp") center no-repeat;
    background-size: cover;
    position: relative;
  }

  .is-overlay {
    background-color: #0577b5d1;
  }

  .hashtags {
    text-shadow: 1px 1px 2px #666;
  }
</style>
