---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import bannerToolkit from "../images/banner-toolkit-ESP.webp";
import rrss1 from "../images/rrss1.webp";
import rrss2 from "../images/rrss2.webp";
import rrss3 from "../images/rrss3.webp";
import rrss4 from "../images/rrss4.webp";
import rrss5 from "../images/rrss5.webp";
---

<PageLayout
   title="Social Media Toolkit"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section p-1">
      <div class="container">
         <figure class="image">
            <Image src={bannerToolkit} alt="Top Toolkit" />
         </figure>
      </div>
   </section>

   <section class="section banner">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-10 has-text-centered">
               <h2 class="title is-2 has-text-white is-spaced">
                  TOOL KIT PROMOCIONAL PARA COMPARTIR RECURSOS E INFORMACIÓN CON
                  LA COMUNIDAD
               </h2>

               <h3 class="subtitle is-4 has-text-primary-60 hashtags">
                  #myhealthfair #feriavirtual #recursosdesalud #Massachusetts
                  #comunidadlatina
               </h3>
            </div>
         </div>

         <h3 class="subtitle is-3 has-text-white has-text-centered">
            Imágenes y Post para redes sociales
         </h3>

         <div class="columns my-5">
            <div class="column is-4">
               <div class="card">
                  <div class="card-image">
                     <figure class="image">
                        <Image src={rrss1} alt="" />
                     </figure>
                  </div>
                  <div class="card-content p-2">
                     <div class="content">
                        <p>
                           My Health Fair presenta la plataforma virtual para la
                           comunidad latina con el propósito de derribar las
                           barreras del idioma y mejorar la alfabetización en
                           salud las 24 horas del día, los 7 días de la semana.
                        </p>

                        <p>
                           Conozca esta experiencia virtual en <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >myhealthfair.com</a
                           >
                           difunda esta información que nuestro Community Partner
                           ofrece de manera gratuita a través de las Organizaciones
                           de la Salud en Massachusetts.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column is-4">
               <div class="card">
                  <div class="card-image">
                     <figure class="image">
                        <Image src={rrss2} alt="" />
                     </figure>
                  </div>
                  <div class="card-content">
                     <div class="content">
                        <p>
                           My Health Fair tiene como misión ser un punto de
                           encuentro entre la comunidad y los prestadores de
                           salud y servicios sociales.
                        </p>
                        <p>
                           De esta manera aumentará la visibilidad y el
                           crecimiento con impacto en los resultados de la salud
                           y la alfabetización de las comunidades que
                           actualmente carecen de conocimiento y recursos.
                        </p>
                        <p>
                           Descargue los recursos de salud de nuestro Community
                           Partner en su plataforma virtual:
                           <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >myhealthfair.com</a
                           >
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column is-4">
               <div class="card">
                  <div class="card-image">
                     <figure class="image">
                        <Image src={rrss3} alt="" />
                     </figure>
                  </div>
                  <div class="card-content">
                     <div class="content">
                        <p>
                           <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >MyHealthFair.com</a
                           > está disponible para la comunidad con un enfoque orientado
                           a mejorar la calidad de vida y salud de la comunidad latina.
                        </p>
                        <p>
                           Es una feria de salud donde los participantes son las
                           principales organizaciones de salud y proveedores de
                           servicios sociales. De esta manera, usted como
                           visitante puede informarse de los servicios de
                           cobertura y recursos disponibles desde la comodidad
                           de su casa y a través de un dispositivo móvil.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="columns my-6 is-centered">
            <div class="column is-4">
               <div class="card">
                  <div class="card-image">
                     <figure class="image">
                        <Image src={rrss4} alt="" />
                     </figure>
                  </div>
                  <div class="card-content p-2">
                     <div class="content">
                        <p>
                           <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >MyHealthFair.com</a
                           > cuenta con 8 vendors quienes a través de sus mesas,
                           información y servicios elevan la conciencia sobre enfermedades,
                           facilitan y garantizan el acceso a los servicios de comunidad
                           local en su propio idioma.
                        </p>

                        <p>
                           Conozca cada una de las mesas virtuales en
                           <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >myhealthfair.com</a
                           > y descargue los recursos gratis que tienen disponibles.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column is-4">
               <div class="card">
                  <div class="card-image">
                     <figure class="image">
                        <Image src={rrss5} alt="" />
                     </figure>
                  </div>
                  <div class="card-content">
                     <div class="content">
                        <p>
                           Conozca la experiencia virtual que <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >myhealthfair.com</a
                           >
                           ofrece a la Comunidad Latina y regístrese al newsletter
                           que nuestro Community Partner ofrece de manera gratuita
                           en <a
                              class="has-text-primary-60"
                              href="https://myhealthfair.com"
                              >myhealthfair.com</a
                           >
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <h3
            class="subtitle is-4 has-text-primary-60 has-text-centered hashtags"
         >
            #myhealthfair #feriavirtual #recursosdesalud #Massachusetts
            #comunidadlatina
         </h3>
      </div>
   </section>
</PageLayout>

<style>
   .banner {
      background: url("../images/banner-about.webp") center no-repeat;
      background-size: cover;
      position: relative;
   }

   .is-overlay {
      background-color: #0577b5d1;
   }

   .hashtags {
      text-shadow: 1px 1px 2px #666;
   }
</style>
