---
export const prerender = false;
import ModalBooths from "../../../../components/ModalBooths.astro";
import ModalVideo from "../../../../components/ModalVideo.astro";
import BoothLayout from "../../../../layouts/BoothLayout.astro";
import FormattedDate from "../../../../components/FormattedDate.astro";
import FormattedTime from "../../../../components/FormattedTime.astro";
import { Image } from "astro:assets";
import { getMonday, getSunday, formatDate } from "@/js/utils.js";
import rec1 from "../../../../images/recursos/rec1_.webp";
import rec2 from "../../../../images/recursos/rec2_.webp";
import rec3 from "../../../../images/recursos/rec3_.webp";
import rec9 from "../../../../images/recursos/rec9_.webp";

const booth = {
   image: "alzheimers-association.webp",
   btn1: "brochure.webp",
   btn2: "events.webp",
   btn3: "resources.webp",
   btn4: "volunteer.webp",
   btn5: "contact.webp",
};
const wpuploads = import.meta.env.WP_UPLOADS;
const wpurl = import.meta.env.WP_URL_EVENTS;

const idioma = Astro.currentLocale;
const { page } = Astro.params;
let pagina = page ? Number(page) : 1;

// Calcular la fecha de inicio y fin de la semana actual
const today = new Date();
const currentMonday = getMonday(new Date(today));
const currentSunday = getSunday(currentMonday);

// Ajustar la semana según el parámetro de la página
const startDate = new Date(currentMonday);
startDate.setDate(startDate.getDate() + (pagina - 1) * 7);
const endDate = new Date(currentSunday);
endDate.setDate(endDate.getDate() + (pagina - 1) * 7);

const fecha_ini = formatDate(startDate);
const fecha_fin = formatDate(endDate);

// const res = await fetch(
//    `${wpurl}/events?start_date=${fecha_ini}&end_date=${fecha_fin}&lang=${idioma}&tags=alzheimer-association&per_page=9`,
// );

//const eventos = await res.json();
---

<BoothLayout
   title="Alzheimer's Association"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section banner-booth alzheimer-assoc-en">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />
                  <!-- Video -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger video"
                     data-target="modal-video"
                  >
                     <rect
                        x="120"
                        y="50"
                        fill="#fff"
                        opacity="0"
                        width="420"
                        height="270"></rect>
                  </a>

                  <!-- Brochure -->
                  <a
                     xlink:href={wpuploads +
                        "/2023/03/Here-for-You-Buckslip-ENG_updated_opt.pdf"}
                     target="_blank"
                     class="brochure"
                  >
                     <image
                        x="90"
                        y="545"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- Eventos -->
                  <a xlink:href="#events" class="events">
                     <image
                        x="310"
                        y="545"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Recursos -->
                  <a xlink:href="#recursos" class="resources">
                     <image
                        x="90"
                        y="625"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>

                  <!-- Voluntariado -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger volunteer"
                     data-target="modal-booth"
                     data-content="volunteer"
                  >
                     <image
                        x="310"
                        y="625"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <!-- Contacto -->

                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger contact"
                     data-target="modal-booth"
                     data-content="contact"
                  >
                     <image
                        x="195"
                        y="705"
                        xlink:href={"/img/booths-pics/" + booth.btn5}
                     />
                  </a>
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/en" class="button is-light is-rounded is-outlined is-large"
            >Go back to Fair</a
         >
      </div>
   </section>


   <!-- Eventos -->
   <!-- <section class="section" id="events">
      <div class="container is-max-widescreen">
         <div class="buttons is-centered">
            <a
               class="button is-info is-outlined"
               href={`${pagina - 1}`}>Prev week</a
            >
            <a
               class="button is-info is-outlined"
               href={`${pagina + 1}`}>Next week</a
            >
         </div>

         <div class="has-text-centered my-4">
            <p class="is-size-5">
               Showing events of the week: <strong
                  >{startDate.toLocaleDateString()}</strong
               > to <strong>{endDate.toLocaleDateString()}</strong>
            </p>
         </div>

         <div class="columns is-multiline is-variable is-8">
            {
               eventos.events.map((evento: any) => (
                  <div class="column is-4">
                     <div class="card">
                        <div class="card-content">
                           <a href={`/event/${evento.slug}`}>
                              <img
                                 width={720}
                                 height={360}
                                 src={evento.image.url}
                                 alt=""
                              />
                              <h4 class="title is-5 my-4">
                                 <Fragment set:html={evento.title} />
                              </h4>
                           </a>

                           <small>
                              <FormattedDate
                                 date={new Date(evento.start_date)}
                              />{" "}
                              @
                              <FormattedTime
                                 date_ini={new Date(evento.start_date)}
                                 date_end={new Date(evento.end_date)}
                              />
                           </small>

                           <small>
                              <Fragment set:html={evento.excerpt} />
                           </small>
                        </div>
                     </div>
                  </div>
               ))
            }
         </div>
      </div>
   </section> -->

   <section class="section" id="recursos">
      <div class="container is-max-widescreen">
         <div class="mb-6">
            <h4 class="title has-text-centered"><u>Resources</u></h4>
         </div>

         <div class="columns">
            <div class="column">
               <a
                  href={wpuploads + "/2024/07/EARLY-SIGNS-OF-ALZHEIMER.pdf"}
                  target="_blank"
               >
                  <Image src={rec9} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads +
                     "/2023/12/Tips-for-Alzheimers-Caregivers-During-the-Holidays.pdf"}
                  target="_blank"
               >
                  <Image src={rec1} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads +
                     "/2023/07/Newspaper-El-Mundo-Ad-3_optimize.pdf"}
                  target="_blank"
               >
                  <Image src={rec2} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads +
                     "/2023/07/MY-HEALTH-FAIR-PDF-Dementia_optimize.pdf"}
                  target="_blank"
               >
                  <Image src={rec3} alt="" />
               </a>
            </div>
         </div>
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="https://youtu.be/pFINKY_b4eA" />

   <div id="volunteer" class="is-hidden">
      <p>
         Alzheimer's Association volunteers deliver support and education, raise
         funds, advocate for Alzheimer’s and more to help achieve our vision of
         a world without Alzheimer’s and all other dementia.
      </p>
      <p>
         Whatever your skills and whatever time you have available, we have
         in-person and virtual opportunities to provide vital support for people
         living with Alzheimer's and dementia and their families.
      </p>
      <p>
         For more information on volunteer opportunities in the
         Massachusetts/New Hampshire chapter, visit <a
            href="https://volunteer.alz.org"
            target="_blank"
            rel="noopener">volunteer.alz.org</a
         >
      </p>
   </div>

   <div id="contact" class="is-hidden">
      <p>
         Alzheimer’s Association 24/7 Helpline: 800-272-3900 <br />Dial 711 to
         connect with a TRS operator
      </p>
      <p>
         The Alzheimer’s Association 24/7 Helpline (800.272.3900) is available
         around the clock, 365 days a year in over 200 languages. Through this
         free service, specialists offer confidential support and information to
         people living with dementia, caregivers, families and the public.
      </p>

      <p>
         For more information,<a
            href="https://www.alz.org/ayuda-y-apoyo/linea-de-ayuda-24-7?lang=es-MX"
            target="_blank"
            rel="noopener">click here</a
         >, or call <a href="tel:+1800-272-3900">800-272-3900</a>.
      </p>
   </div>
</BoothLayout>
