---
export const prerender = false;
import ModalBooths from "../../../components/ModalBooths.astro";
import ModalVideo from "../../../components/ModalVideo.astro";
import BoothLayout from "../../../layouts/BoothLayout.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import FormattedTime from "../../../components/FormattedTime.astro";
import { Image } from "astro:assets";
import { getMonday, getSunday, formatDate } from "@/utils/utils.js";
import rec1 from "../../../images/recursos/rec1.webp";
import rec2 from "../../../images/recursos/rec2.webp";
import rec3 from "../../../images/recursos/rec3.webp";
import rec4 from "../../../images/recursos/rec4.webp";
import rec5 from "../../../images/recursos/rec5.webp";
import rec6 from "../../../images/recursos/rec6.webp";
import rec7 from "../../../images/recursos/rec7.webp";
import rec8 from "../../../images/recursos/rec8.webp";
import rec9 from "../../../images/recursos/rec9.webp";

const booth = {
   image: "alzheimers-association.webp",
   btn1: "brochure.webp",
   btn2: "eventos.webp",
   btn3: "recursos.webp",
   btn4: "voluntariado.webp",
   btn5: "contacto.webp",
};
const wpuploads = import.meta.env.WP_UPLOADS;
const wpurl = import.meta.env.WP_URL_EVENTS;

const idioma = Astro.currentLocale;
const { pagina = 1 } = Astro.params;
const numPagina = Number(pagina);
const eventosPorPagina = 9;

// Calcular la fecha de inicio y fin de la semana actual
const today = new Date();
const currentMonday = getMonday(new Date(today));
const currentSunday = getSunday(currentMonday);

// Ajustar la semana según el parámetro de la página
const startDate = new Date(currentMonday);
startDate.setDate(startDate.getDate() + (numPagina - 1) * 7);
const endDate = new Date(currentSunday);
endDate.setDate(endDate.getDate() + (numPagina - 1) * 7);

const fecha_ini = formatDate(startDate);
const fecha_fin = formatDate(endDate);

const res = await fetch(
   `${wpurl}/events?start_date=${fecha_ini}&end_date=${fecha_fin}&lang=${idioma}&tags=alzheimer-association&per_page=${eventosPorPagina}`,
);

const eventos = await res.json();
---

<BoothLayout
   title="Alzheimer's Association"
   description="Lorem ipsum dolor sit amet"
>
   <section class="section banner-booth alzheimer-assoc">
      <div class="is-overlay"></div>
      <div class="container has-text-white">
         <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
               <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 600 780"
               >
                  <image
                     width="600"
                     height="780"
                     xlink:href={"/img/booths-bg/" + booth.image}
                  />
                  <!-- Video -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger video"
                     data-target="modal-video"
                  >
                     <rect
                        x="120"
                        y="50"
                        fill="#fff"
                        opacity="0"
                        width="420"
                        height="270"></rect>
                  </a>

                  <!-- Brochure -->
                  <a
                     xlink:href={wpuploads +
                        "/2023/03/Here-for-You-Flyer-ESP_Updated.pdf"}
                     target="_blank"
                  >
                     <image
                        x="90"
                        y="545"
                        xlink:href={"/img/booths-pics/" + booth.btn1}
                     />
                  </a>

                  <!-- Eventos -->
                  <a xlink:href="#eventos" class="eventos">
                     <image
                        x="310"
                        y="545"
                        xlink:href={"/img/booths-pics/" + booth.btn2}
                     />
                  </a>

                  <!-- Recursos -->
                  <a xlink:href="#recursos" class="recursos">
                     <image
                        x="90"
                        y="625"
                        xlink:href={"/img/booths-pics/" + booth.btn3}
                     />
                  </a>

                  <!-- Voluntariado -->
                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger voluntariado"
                     data-target="modal-booth"
                     data-content="voluntariado"
                  >
                     <image
                        x="310"
                        y="625"
                        xlink:href={"/img/booths-pics/" + booth.btn4}
                     />
                  </a>

                  <!-- Contacto -->

                  <a
                     xlink:href="javascript:void(0)"
                     class="modal-trigger contacto"
                     data-target="modal-booth"
                     data-content="contacto"
                  >
                     <image
                        x="195"
                        y="705"
                        xlink:href={"/img/booths-pics/" + booth.btn5}
                     />
                  </a>
               </svg>
            </div>
         </div>
      </div>

      <div class="has-text-centered mt-5">
         <a href="/" class="button is-light is-rounded is-outlined"
            >Volver a la Feria</a
         >
      </div>
   </section>

   <section class="section" id="eventos">
      <div class="container is-max-widescreen">
         <div class="buttons is-centered">
            <a class="button is-info is-outlined" href={`${pagina - 1}`}
               >Semana anterior</a
            >
            <a class="button is-info is-outlined" href={`${pagina + 1}`}
               >Semana siguiente</a
            >
         </div>

         <div class="has-text-centered my-4">
            <p class="is-size-5">
               Mostrando eventos de la semana: <strong
                  >{startDate.toLocaleDateString()}</strong
               > al <strong>{endDate.toLocaleDateString()}</strong>
            </p>
         </div>

         <div class="columns is-multiline is-variable is-8">
            {
               eventos.events.map((evento: any) => (
                  <div class="column is-4">
                     <div class="card">
                        <div class="card-content">
                           <a href={`/event/${evento.slug}`}>
                              <img
                                 width={720}
                                 height={360}
                                 src={evento.image.url}
                                 alt=""
                              />
                              <h4 class="title is-5 my-4">
                                 <Fragment set:html={evento.title} />
                              </h4>
                           </a>

                           <small>
                              <FormattedDate
                                 date={new Date(evento.start_date)}
                              />{" "}
                              @
                              <FormattedTime
                                 date_ini={new Date(evento.start_date)}
                                 date_end={new Date(evento.end_date)}
                              />
                           </small>

                           <small>
                              <Fragment set:html={evento.excerpt} />
                           </small>
                        </div>
                     </div>
                  </div>
               ))
            }
         </div>
      </div>
   </section>

   <section class="section" id="recursos">
      <div class="container is-max-widescreen">
         <div class="mb-6">
            <h4 class="title has-text-centered"><u>Recursos</u></h4>
         </div>

         <div class="columns">
            <div class="column">
               <a
                  href={wpuploads +
                     "/2024/07/SIGNOS-TEMPRANOS-DEL-ALZHEIMER.pdf"}
                  target="_blank"
               >
                  <Image src={rec9} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads +
                     "/2023/12/Tips-para-cuidadores-de-Alzheimer-durante-las-fiestas.pdf"}
                  target="_blank"
               >
                  <Image src={rec1} alt="" />
               </a>
            </div>
            <div class="column">
               <a href={wpuploads + "/2023/06/aa-mesa.pdf"} target="_blank">
                  <Image src={rec3} alt="" />
               </a>
            </div>
         </div>

         <div class="columns my-5">
            <div class="column">
               <a
                  href={wpuploads + "/2024/07/MY-HEALTH-FAIR-PDF-Demencia.pdf"}
                  target="_blank"
               >
                  <Image src={rec2} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads + "/2023/06/10-Ways_Poster_ESP.jpg"}
                  target="_blank"
               >
                  <Image src={rec4} alt="" />
               </a>
            </div>
            <div class="column">
               <a
                  href={wpuploads + "/2023/06/aa-servicios-sociales.pdf"}
                  target="_blank"
               >
                  <Image src={rec5} alt="" />
               </a>
            </div>
         </div>

         <div class="columns is-centered">
            <div class="column">
               <a
                  href={wpuploads + "/2023/06/aa-videoconferencia.pdf"}
                  target="_blank"
               >
                  <Image src={rec6} alt="" />
               </a>
            </div>
            <div class="column is-4">
               <a
                  href={wpuploads + "/2023/06/aa-medicos-massachusetts.pdf"}
                  target="_blank"
               >
                  <Image src={rec7} alt="" />
               </a>
            </div>
            <div class="column is-4">
               <a
                  href={wpuploads + "/2023/06/aa-cuidadores.pdf"}
                  target="_blank"
               >
                  <Image src={rec8} alt="" />
               </a>
            </div>
         </div>
      </div>
   </section>

   <ModalBooths />

   <ModalVideo videoID="https://youtu.be/HiOYsa6usrE" />

   <div id="voluntariado" class="is-hidden">
      <p>
         Los voluntarios de la Asociación de Alzheimer brindan apoyo y
         educación, recaudan fondos, abogan por la enfermedad de Alzheimer y más
         para ayudar a lograr nuestra visión de un mundo sin la enfermedad de
         Alzheimer y todas las demás demencias.
      </p>
      <p>
         Sean cuales sean sus habilidades y el tiempo que tenga disponible,
         tenemos oportunidades presenciales y virtuales para brindar un apoyo
         vital a las personas que viven con Alzheimer y demencia y sus familias.
      </p>
      <p>
         Sean cuales sean sus habilidades y el tiempo que tenga disponible,
         tenemos oportunidades presenciales y virtuales para brindar un apoyo
         vital a las personas que viven con Alzheimer y demencia y sus familias.<br
         /><br />Para obtener más información sobre oportunidades de
         voluntariado en el capítulo de Massachusetts/New Hampshire, visite <a
            href="https://volunteer.alz.org"
            target="_blank"
            rel="noopener">volunteer.alz.org</a
         >
      </p>
   </div>

   <div id="contacto" class="is-hidden">
      <p>Línea de ayuda 24/7 de la Asociación de Alzheimer: 800-272-3900</p>
      <p>Marque 711 para conectarse con un operador de TRS</p>
      <p>
         La línea de ayuda 24/7 de la Asociación de Alzheimer (800.272.3900)
         está disponible las 24 horas, los 365 días del año en más de 200
         idiomas. A través de este servicio gratuito, los especialistas ofrecen
         apoyo e información confidencial a las personas que viven con demencia,
         a los cuidadores, a las familias y al público.
      </p>
      <p>
         Para más información, haz&nbsp;<a
            href="https://www.alz.org/ayuda-y-apoyo/linea-de-ayuda-24-7?lang=es-MX"
            target="_blank"
            rel="noopener">clic aquí</a
         >, o llama al 800-272-3900.
      </p>
   </div>
</BoothLayout>
