---
import { Image } from "astro:assets";
import aa from "../images/carrusel/A-A.jpg";
import pbread from "../images/carrusel/p-bread.jpg";
import aou from "../images/carrusel/AllofUs_Logo.png";
import danaf from "../images/carrusel/dana-farber.jpg";
import dimock from "../images/carrusel/dimock-center.jpg";
import mapp from "../images/carrusel/MAPP_Logo.jpg";
---

<section class="section">
   <div class="container is-fullhd">
      <div class="title-wrapper has-text-centered">
         <h2 class="title is-3">Participantes de La Feria</h2>
      </div>

      <div class="content-wrapper">
         <!-- Start Carousel -->
         <div class="sponsor-carousel">
            <div class="item-carousel">
               <figure class="image">
                  <Image src={aa} alt="" />
               </figure>
            </div>
            <div class="item-carousel">
               <figure class="image">
                  <Image src={pbread} alt="" />
               </figure>
            </div>
            <div class="item-carousel">
               <figure class="image">
                  <Image src={danaf} alt="" />
               </figure>
            </div>
            <div class="item-carousel">
               <figure class="image">
                  <Image src={dimock} alt="" />
               </figure>
            </div>
            <div class="item-carousel">
               <figure class="image">
                  <Image src={mapp} alt="" />
               </figure>
            </div>
         </div>
         <!-- End Carousel Services -->
      </div>
   </div>
</section>

<script>
   import Flickity from "flickity";

   document.addEventListener("astro:page-load", () => {
      const elem = document.querySelector(".sponsor-carousel");
      if (!elem) return;

      let flkty = new Flickity(".sponsor-carousel", {
         draggable: true,
         contain: true,
         freeScroll: true,
         wrapAround: true,
         pageDots: false,
      });
   });
</script>

<style>
   .image img {
      border-radius: 6px;
   }

   .item-carousel {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 20px;
   }

   @media screen and (min-width: 768px) {
      .item-carousel {
         width: 25%;
      }
   }

</style>
