---
import { Image } from "astro:assets";
import aa from "../images/carrusel/A-A.webp";
import ferreras from "../images/carrusel/ferreras-counseling.webp";
import danaf from "../images/carrusel/dana-farber.webp";
import uhc from "../images/carrusel/uhc.webp";
import careforth from "../images/carrusel/careforth.webp";
import mahda from "../images/carrusel/mahda.webp";

const idioma = Astro.currentLocale;
---

<section class="section">
  <div class="container is-fullhd">
    <div class="title-wrapper has-text-centered">
      {
        idioma == "es" ? (
          <h2 class="title is-3">Participantes de La Feria</h2>
        ) : (
          <h2 class="title is-3">Our sponsors - Community partners</h2>
        )
      }
    </div>

    <div class="content-wrapper">
      <!-- Start Carousel -->
      <div class="sponsor-carousel">
        <div class="item-carousel">
          <figure class="image">
            <Image src={ferreras} alt="" />
          </figure>
        </div>
        <div class="item-carousel">
          <figure class="image">
            <Image src={aa} alt="" />
          </figure>
        </div>
        <div class="item-carousel">
          <figure class="image">
            <Image src={careforth} alt="" />
          </figure>
        </div>
        <div class="item-carousel">
          <figure class="image">
            <Image src={uhc} alt="" />
          </figure>
        </div>
        <div class="item-carousel">
          <figure class="image">
            <Image src={danaf} alt="" />
          </figure>
        </div>

        <div class="item-carousel">
          <figure class="image">
            <Image src={mahda} alt="" />
          </figure>
        </div>

        
  
      </div>
      <!-- End Carousel Services -->
    </div>
  </div>
</section>

<script>
  import Flickity from "flickity";

  document.addEventListener("DOMContentLoaded", () => {
    const elem = document.querySelector(".sponsor-carousel");
    if (!elem) return;

    let flkty = new Flickity(".sponsor-carousel", {
      draggable: true,
      contain: true,
      freeScroll: true,
      wrapAround: true,
      pageDots: false,
    });
  });
</script>

<style>
  .image img {
    border-radius: 6px;
  }

  .item-carousel {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    .item-carousel {
      width: 20%;
    }
  }
</style>
