---
import { Image } from "astro:assets";
import emb_header from "../images/elmundoboston_logo2021.webp";
import partner1 from "../images/30.webp";
import partner2 from "../images/31.webp";
import partner3 from "../images/32.webp";
import partner4 from "../images/33.webp";
import partner5 from "../images/34.webp";
import partner6 from "../images/35.webp";
import partner7 from "../images/36.webp";
import partner8 from "../images/37.webp";
---

<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column">
        <Image src={partner1} alt="Mega 96.5 FM" />
      </div>
      <div class="column">
        <Image src={partner2} alt="Nueva Inglaterra" class="is-shadow" />
      </div>

      <div class="column">
        <Image src={partner4} alt="Acceso Total" />
      </div>
      
      <div class="column">
        <Image src={partner8} alt="D8A9" />
      </div>

    </div>

    <div class="columns is-vcentered">
    
      <div class="column">
        <a href="https://elmundoboston.com" target="_blank">
          <Image src={emb_header} alt="El Mundo Boston" />
        </a>
      </div>
      <div class="column">
        <Image src={partner6} alt="Univisión Nueva Inglaterra" />
      </div>
      <div class="column">
        <Image src={partner7} alt="La CajitaTV" />
      </div>
  
      <div class="column">
        <Image src={partner5} alt="Órale con Verónica" />
      </div>
    </div>


  </div>
  <div class="has-text-centered"></div>
</section>

<style>
.is-shadow {
   filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}
</style>
