---
import { Image } from "astro:assets";
import iconEnfermedades from "../images/icon-enfermedades.webp";
import iconSalud from "../images/icon-salud.webp";
import iconSeguro from "../images/icon-seguro.webp";
import iconServicios from "../images/icon-servicios.webp";
import iconEstudios from "../images/icon-estudios.webp";
import iconTrabajos from "../images/icon-trabajos.webp";
---

<section class="section">
   <div class="container">
      <div class="columns">
         <div class="column is-4">
            <a href="#">
               <div class="media is-align-items-center">
                  <div class="media-left">
                     <Image src={iconEnfermedades} alt="" />
                  </div>
                  <div class="media-content">
                     <div class="h3 subtitle is-4">
                        <a href="/category/chronic-diseases/">
                           Chronic <br />Diseases
                        </a>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="column is-4">
            <div class="media is-align-items-center">
               <div class="media-left">
                  <Image src={iconSalud} alt="" />
               </div>
               <div class="media-content">
                  <div class="h3 subtitle is-4">
                     <a href="/category/mental-health/">Mental<br />Health</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4">
            <div class="media is-align-items-center">
               <div class="media-left">
                  <Image src={iconSeguro} alt="" />
               </div>
               <div class="media-content">
                  <div class="h3 subtitle is-4">
                     <a href="/category/health-insurance/"
                        >Health <br />Insurance</a
                     >
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="columns">
         <div class="column is-4">
            <div class="media is-align-items-center">
               <div class="media-left">
                  <Image src={iconServicios} alt="" />
               </div>
               <div class="media-content">
                  <div class="h3 subtitle is-4">
                     <a href="/category/social-services/"
                        >Social<br />Services</a
                     >
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4">
            <div class="media is-align-items-center">
               <div class="media-left">
                  <Image src={iconEstudios} alt="" />
               </div>
               <div class="media-content">
                  <div class="h3 subtitle is-4">
                     <a href="/category/clinical-studies/"
                        >Clinical <br />Studies</a
                     >
                  </div>
               </div>
            </div>
         </div>
         <div class="column is-4">
            <div class="media is-align-items-center">
               <div class="media-left">
                  <Image src={iconTrabajos} alt="" />
               </div>
               <div class="media-content">
                  <div class="h3 subtitle is-4">
                     <a href="/category/jobs-opportunities/"
                        >Job <br />Opportunities</a
                     >
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
