---
import { Image } from "astro:assets";
import logoHeader from "../images/logo-headers.webp";
const { to, subject } = Astro.props;
const isESP = Astro.currentLocale == "es";

const form = {
   labelname: isESP ? "Nombre" : "Name",
   labelphone: isESP ? "Teléfono" : "Phone",
   labelemail: isESP ? "Correo electrónico" : "Email",
   labelmsj: isESP ? "Comentarios" : "Comments",
   labelbtn: isESP ? "Enviar Mensaje" : "Send Message",
};
---

<div class="modal" id="modal-form">
   <div class="modal-background"></div>
   <div class="modal-card">
      <header class="modal-card-head has-background-info">
         <Image src={logoHeader} alt="" width="260" />
         <button class="delete" aria-label="close"></button>
      </header>
      <div class="modal-card-body">
         <div class="content">
            <slot />

            <form
               id="booth-form"
               data-para={to}
               data-asunto={subject}
               class="p-5"
            >
               <div class="columns is-multiline">
                  <div class="column is-12">
                     <input
                        class="input"
                        type="text"
                        id="nombreZhyr7"
                        placeholder={form.labelname}
                     />
                  </div>
                  <div class="column is-12">
                     <input
                        class="input"
                        type="text"
                        id="telfZhyr7"
                        placeholder={form.labelphone}
                     />
                  </div>
                  <div class="column is-12">
                     <input
                        class="input"
                        type="text"
                        id="emailZhyr7"
                        placeholder={form.labelemail}
                     />
                  </div>
                  <div class="column is-12">
                     <textarea
                        class="textarea"
                        rows="3"
                        id="mensajeZhyr7"
                        placeholder={form.labelmsj}></textarea>
                  </div>
                  <!-- T a r r i t o d e l i e m -->
                  <div class="fieldset ohnohoney">
                     <label for="name"></label>
                     <input
                        autocomplete="off"
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Your name here"
                     />
                     <label for="email"></label>
                     <input
                        autocomplete="off"
                        type="email"
                        id="nickname"
                        name="nickname"
                        placeholder="Your e-mail here"
                     />
                  </div>
                  <div class="column is-12">
                     <div class="mt-10">
                        <button
                           class="button is-primary has-text-white"
                           id="boton">{form.labelbtn}</button
                        >
                     </div>
                  </div>
               </div>
            </form>

            <div class="notification animated fadeInUp is-hidden">
               <button class="delete"></button>
               <span class="text"></span>
            </div>
         </div>
      </div>
      <footer class="modal-card-foot"></footer>
   </div>
   <button class="modal-close is-large" aria-label="close"></button>
</div>

<style>
   .modal-card-head {
      justify-content: center;
   }

   .delete {
      position: absolute;
      right: 10px;
      top: 10px;
   }
</style>

<script>
   document.addEventListener("astro:page-load", () => {
      const form = document.querySelector("#booth-form");

      if (!form) return;

      const nombre = document.querySelector("#nombreZhyr7");
      const telf = document.querySelector("#telfZhyr7");
      const email = document.querySelector("#emailZhyr7");
      const mensaje = document.querySelector("#mensajeZhyr7");
      const boton = document.querySelector("#boton");

      const name = document.querySelector("#name");
      const nickname = document.querySelector("#nickname");
      const notif = document.querySelector(".notification");
      const para = form.dataset.para.split(",");
      const asunto = form.dataset.asunto;

      form?.addEventListener("submit", async (event) => {
         event.preventDefault();
         // boton?.classList.toggle('is-static')
         boton.disabled = true;
         if (!name.value && !nickname.value) {
            const cuerpo = ` <h3>Contact details</h3>
                              <p><b>Name:</b> ${nombre.value}</p>
                              <p><b>Contact Phone:</b> ${telf.value}</p>
                              <p><b>Email:</b> ${email.value}</p>
                              <p><b>Message:</b> ${mensaje.value}</p>
                              <br><br>
                              <p>Message was sent from myhealthfair.com</p>`;

            const emailData = {
               from: "info@miferiadesalud.com",
               to: para,
               subject: asunto,
               html: cuerpo,
            };

            const res = await fetch("/api/sendEmail.json", {
               method: "POST",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify(emailData),
            });

            if (res.ok) {
               notif.classList.toggle("is-success");
               notif.classList.toggle("is-hidden");
               notif.lastElementChild.textContent = "Your message was sent! 👍";
            } else {
               const error = await res.json();
               console.error("Error:", error);
               notif.lastElementChild.textContent = "Oh sorry 🙁";
               notif.classList.toggle("is-hidden");
               notif.classList.toggle("is-danger");
            }
         }

         setTimeout(() => {
            notif.classList.toggle("is-hidden");
            notif.classList.remove("is-danger");
            notif.classList.remove("is-success");
            boton.disabled = false;

            nombre.value = "";
            telf.value = "";
            email.value = "";
            mensaje.value = "";
         }, 2000);
      });
   });
</script>

<style>
   .ohnohoney {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      z-index: -1;
   }

   .notification {
      width: 300px;
      position: absolute;
      bottom: 3rem;
      right: 3rem;
   }
</style>
