---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FooterEN from "../components/FooterEN.astro";
// import FormattedDate from "../components/FormattedDate.astro";
const idioma = Astro.currentLocale;
const { title, description, heroImage, translations } = Astro.props;

import "@fontsource-variable/dm-sans";
import TabLang from "../components/TabLang.astro";
import AsideEntradas from "../components/AsideEntradas.astro";
import AsidePosts from "../components/AsidePosts.astro";
import AsideCategorias from "../components/AsideCategorias.astro";
import AsideCategories from "../components/AsideCategories.astro";
import BodyTop from "../components/BodyTop.astro";
import Snippets from "../components/Snippets.astro";
---

<html lang={idioma} data-theme="light">
	<head>
		<BaseHead title={title.rendered} description={description} image={heroImage} />
		<Snippets/>
		<ViewTransitions />
	</head>

	<body>
		<BodyTop />
		<Header />

		<div class="section">
			<div class="container">
				<div class="columns is-variable is-1">
					<div class="column is-8 article">
						<article>
							<div class="hero-image mb-4">
								{
									heroImage && (
										<img
											width={1020}
											height={510}
											src={heroImage}
											alt=""
										/>
									)
								}
							</div>
							<div class="content">
								<!-- <div class="date">
									<FormattedDate date={new Date(date)} />
								</div> -->
								<h1 class="title">
									<Fragment set:html={title.rendered} />
								</h1>
								<hr />
								<slot />
							</div>
						</article>
					</div>
					<div class="column is-4 p-5">
						<aside>
							{idioma == "es" ? <AsideEntradas /> : <AsidePosts />}
							{
								idioma == "es" ? (
									<AsideCategorias />
								) : (
									<AsideCategories />
								)
							}
						</aside>
					</div>
				</div>
			</div>
		</div>
		<main></main>
		{idioma == "es" ? <Footer /> : <FooterEN />}
		<style>
			.article {
				box-shadow:
					0 1px 3px -2px rgba(0, 0, 0, 0.12),
					0 1px 2px rgba(0, 0, 0, 0.24);
			}
		</style>

		<TabLang traducciones={translations} isPost="1" />

		<TabLang />
	</body>
</html>
